<app-header [showSidebar]="true"/>
<div class="md:px-[50px] xl:px-[200px] max-sm:px-4 mb-6">
  <app-searchbar/>

  <h1 class="text-3xl font-bold text-primary mt-8 mb-4">Descubre los mejores tours</h1>
  <div class="relative mb-32">
    <div class="flex overflow-x-auto snap-x snap-mandatory gap-10 py-4 carousel-scrollbar">
      <app-card/>
      <app-card/>
      <app-card/>
      <app-card/>
      <app-card/>
      <app-card/>
      <app-card/>
    </div>
  </div>

  <h1 class="text-3xl font-bold text-primary mt-8 mb-4">Descubre los mejores tours</h1>
  <div class="relative">
    <div class="flex overflow-x-auto snap-x snap-mandatory gap-10 py-4 carousel-scrollbar">
      <app-card/>
      <app-card/>
      <app-card/>
      <app-card/>
      <app-card/>
      <app-card/>
      <app-card/>
    </div>
  </div>
</div>
