<app-header [showSidebar]="true" />

<div class="px-4 md:px-[50px] xl:px-[200px] mb-10 pt-10">
  <div class="flex flex-col w-full items-center">
    <img src="{{ trip.yacht.image }}" class="w-full h-[230px] object-cover rounded-lg" alt="">

    <!-- Contenedor Principal -->
    <div class="flex flex-col lg:flex-row w-full gap-10 mt-6 items-center lg:items-start justify-center">

      <!-- Sección Izquierda -->
      <div class="flex flex-col p-6 gap-6 w-full lg:w-2/3 text-center lg:text-left items-center lg:items-start">
        <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-primary">{{ trip.name }}</h1>

        <div class="flex flex-col gap-4">
          <span class="text-xl md:text-2xl text-primary">Descripción</span>
          <p class="w-full text-justify text-primary">{{ trip.description }}</p>
        </div>

        <!-- Información del Viaje -->
        <div class="flex flex-col gap-4 w-full text-primary items-center lg:items-start">
          <h2 class="text-2xl md:text-3xl">Información del viaje</h2>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
            <div class="flex items-center gap-3">
              <svg width="20" height="20" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.3818 9.52767C20.2698 9.20327 20.0668 8.92309 19.8 8.72491C19.5333 8.52673 19.2157 8.42007 18.89 8.41932H16.9435L16.1497 3.36774H10.9687L11.7624 8.41932H9.80005L9.00634 3.36774H3.82528L4.61899 8.41932H2.38112V13.0499H0.793701V23.5741H22.0119L24.6051 14.8636V13.0499H21.5893L20.3818 9.52767Z" fill="#102F41"/>
              </svg>
              <label>Modelo del barco:</label>
              <span class="text-primary-light">{{ trip.yacht.model }}</span>
            </div>
            <div class="flex items-center gap-3">
              <i class="pi pi-clock"></i>
              <label>Duración:</label>
              <span class="text-primary-light">{{ trip.duration_hours }} horas</span>
            </div>
            <div class="flex items-center gap-3">
              <i class="pi pi-angle-right"></i>
              <label>Embarque:</label>
              <span class="text-primary-light">{{ trip.departure }}</span>
            </div>
            <div class="flex items-center gap-3">
              <i class="pi pi-user"></i>
              <label>Pasajeros:</label>
              <span class="text-primary-light">{{ trip.yacht.capacity }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección Derecha (Adicionales y Tickets) -->
      <div class="flex flex-col w-full lg:w-1/3 pt-6 lg:pt-10 items-center">
        <div class="flex flex-col w-full items-center lg:items-start gap-6 text-primary">
          <h1 class="text-2xl font-bold">Adicionales</h1>

          <div class="card flex flex-col gap-4">
            <div class="flex items-center">
              <p-checkbox inputId="guia" name="extra" value="Guia" size="large" [(ngModel)]="extra" (ngModelChange)="calculateTotal()" />
              <label class="ml-2">Guía 60 €</label>
            </div>
            <div class="flex items-center">
              <p-checkbox inputId="catering" name="extra" value="Catering" size="large" [(ngModel)]="extra" (ngModelChange)="calculateTotal()" />
              <label class="ml-2">Catering 120 €</label>
            </div>
            <div class="flex items-center">
              <p-checkbox inputId="pepper" name="extra" value="Pepper" size="large" [(ngModel)]="extra" (ngModelChange)="calculateTotal()" />
              <label class="ml-2">+1 Hora 80 €</label>
            </div>
          </div>
        </div>

        <!-- Tickets -->
        <div class="flex flex-col md:items-start items-center gap-5 w-full font-semibold text-primary mt-8">
          <span>Tickets</span>
          <p-inputnumber class="custom-inputnumber w-full md:w-auto" size="small" [(ngModel)]="value" (ngModelChange)="calculateTotal()"
                         [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
                         [min]="1" [max]="maxTickets" spinnerMode="horizontal" [step]="1">
            <ng-template pTemplate="incrementbuttonicon">
              <span class="pi pi-plus text-primary"></span>
            </ng-template>
            <ng-template pTemplate="decrementbuttonicon">
              <span class="pi pi-minus text-primary"></span>
            </ng-template>
          </p-inputnumber>
        </div>

        <!-- Comprar Tickets -->
        <div class="flex flex-col md:flex-row w-full items-center gap-5 mt-6">
          <p-button
            label="Comprar tickets"
            icon="pi pi-ticket"
            severity="contrast"
            (click)="bookTrip()"
            [disabled]="isBooking">
          </p-button>
          <span class="font-bold text-xl text-primary">Total {{ totalPrice }} €</span>
        </div>
      </div>

    </div>
  </div>
</div>
<app-loading></app-loading>
