<app-sidebar></app-sidebar>
<div class="h-screen grid grid-cols-1 md:grid-cols-3 overflow-hidden relative">
  <!-- Administrar Viajes -->
  <div class="group relative flex items-center justify-center h-full w-full bg-cover bg-center text-primary
  transition-all duration-300 overflow-hidden">
    <div class="absolute inset-0 bg-[url('/admin-img-1.png')] bg-cover bg-center opacity-50
    transition-opacity duration-300 group-hover:opacity-100 group-hover:scale-105"></div>
    <a href="/adminTrips" class="z-10 w-full h-full flex items-center justify-center text-2xl font-bold
    transition-colors duration-150 group-hover:text-secondary">
      <div class="relative p-4 rounded-xl transition-colors duration-150 group-hover:bg-primary">
        Administrar Viajes
      </div>
    </a>
  </div>

  <!-- Administrar Yates -->
  <div class="group relative flex items-center justify-center h-full w-full bg-cover bg-center text-primary
  transition-all duration-300 overflow-hidden">
    <div class="absolute inset-0 bg-[url('/admin-img-2.png')] bg-cover bg-center opacity-50
    transition-opacity duration-300 group-hover:opacity-100 group-hover:scale-105"></div>
    <a href="/adminYachts" class="z-10 w-full h-full flex items-center justify-center text-2xl font-bold
    transition-colors duration-150 group-hover:text-secondary">
      <div class="relative p-4 rounded-xl transition-colors duration-150 group-hover:bg-primary">
        Administrar Yates
      </div>
    </a>
  </div>

  <!-- Administrar Reservas -->
  <div class="group relative flex items-center justify-center h-full w-full bg-cover bg-center text-primary
  transition-all duration-300 overflow-hidden">
    <div class="absolute inset-0 bg-[url('/admin-img-3.png')] bg-cover bg-center opacity-50
    transition-opacity duration-300 group-hover:opacity-100 group-hover:scale-105"></div>
    <a href="https://www.example.com/option3" class="z-10 w-full h-full flex items-center justify-center text-2xl font-bold
    transition-colors duration-150 group-hover:text-secondary">
      <div class="relative p-4 rounded-xl transition-colors duration-150 group-hover:bg-primary">
        Administrar Reservas
      </div>
    </a>
  </div>
</div>
