<div class="card flex flex-col sm:flex-row gap-5 sm:gap-0 justify-between text-white align-middle items-center fixed w-full top-0 z-20 dark-blue-bg p-3 ">
  <div class="flex flex-row align-middle items-center gap-3 text-white">
    <img src="/oceanLux-logo.png" class="w-[50px]" alt="logo">
    <h1 class=" text-2xl">OceanLux</h1>
  </div>
  <div class="flex tex text-xl items-center align-middle">
    <label class="cursor-pointer  hover:scale-110 transition-transform duration-300" [routerLink]="['/trips']">Explorar</label>
  </div>
  <div class="flex align-middle items-center gap-5">
    <img src="/shop-icon.png" class="w-[25px]" alt="shop-icon">
    <img src="/user-default-icon.png" class="w-[25px]" alt="user-icon">
  </div>
</div>
