<app-header [showSidebar]="true"/>
<div class="md:px-[50px] xl:px-[200px] px-4 mb-10 pt-4">
  <div class="flex w-full pt-10">
    <div class="flex justify-center w-2/3">
      <img src="/gg-placeholder-image.png" alt="User Image" class="rounded-lg w-2/3">
    </div>
    <div class="w-full">
      <div class="flex gap-3">
        <label><strong>Nombre: </strong></label>
        <label>Manuel</label>
      </div>
      <div class="flex gap-3">
        <label><strong>Apellidos: </strong></label>
        <label>García Badalona</label>
      </div>
      <div class="flex gap-3">
        <label><strong>Fecha de nacimiento: </strong></label>
        <label>19-08-1999</label>
      </div>
      <div class="flex gap-3">
        <label><strong>Email: </strong></label>
        <label>manuelgarciagmail.com</label>
      </div>
    </div>
  </div>
</div>
