<app-header></app-header>
<app-toast></app-toast>
<p-confirmpopup></p-confirmpopup>

  <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">{{ isEditMode ? 'Editar Yate' : 'Creación de Yates' }}</h2>

    <form #yachtForm="ngForm" (submit)="confirmSubmit($event); $event.preventDefault()" class="space-y-4">
      <p-floatlabel variant="on" class="w-full">
        <input pInputText id="name" [(ngModel)]="Yacht.name" name="name" autocomplete="on" class="w-full p-2 border rounded" required />
        <label>Nombre del yate</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-full">
        <input pInputText id="photo" [(ngModel)]="Yacht.image" name="photo" class="w-full" />
        <label>Imagen</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-full">
        <input pInputText id="model" [(ngModel)]="Yacht.model" name="model" class="w-full" />
        <label>Modelo</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-full">
        <textarea pTextarea id="description" [(ngModel)]="Yacht.description" name="description" autocomplete="off" class="w-full p-2 border rounded" required></textarea>
        <label for="description">Descripción</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-full">
        <p-inputNumber id="capacity" [(ngModel)]="Yacht.capacity" name="capacity" class="w-full"></p-inputNumber>
        <label for="capacity">Capacidad</label>
      </p-floatlabel>

      <div class="w-full flex justify-between">
        <p-button type="button" label="Cancelar" class="p-button-secondary" (click)="resetForm()"></p-button>
        <p-button type="submit" label="{{ isEditMode ? 'Actualizar' : 'Guardar' }}" icon="pi pi-check" class="p-button-success"></p-button>
      </div>
    </form>
  </div>

  <div class="max-w-lg mx-auto bg-white p-3 rounded-lg shadow-lg mt-12">
    <p-table #dt [value]="Yachts" [customSort]="true">
      <ng-template #header>
        <tr>
          <th pSortableColumn="name">Nombre <p-sortIcon field="name" /></th>
          <th pSortableColumn="model">Modelo <p-sortIcon field="model" /></th>
          <th pSortableColumn="capacity">Capacidad <p-sortIcon field="capacity" /></th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-yacht>
        <tr>
          <td>{{ yacht.name }}</td>
          <td>{{ yacht.model }}</td>
          <td>{{ yacht.capacity }}</td>
          <td>
            <div class="flex gap-1">
              <p-button icon="pi pi-pencil" (click)="editYacht(yacht)"></p-button>
              <p-button severity="danger" icon="pi pi-trash" (click)="deleteYacht(yacht, $event)"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
