  <style>
    @keyframes backgroundFill {
      0% {
        background-color: white;
      }

      50% {
        background-color: #375f75;
      }

      100% {
        background-color: #102f41;
      }
    }

    .loading-container {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 50;
      background-image: url('/img_1.png');
      background-size: cover;
      background-position: center;
      animation: backgroundFill 5s ease-in-out forwards;
    }

    .loading-text {
      color: white;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
      text-align: center;
    }

    .loading-svg {
      width: 150px;
      height: 150px;
      margin-top: 20px;
      fill: white;

    }
  </style>

    <div *ngIf="loading$ | async" class="loading-container">
      <div  role="status" class="flex flex-col justify-center items-center">

        <span class="sr-only">Loading...</span>
      </div>
      <div class="wave-overlay"></div>
    </div>
