/* You can add global styles to this file, and also import other style files */
/* Importar los estilos de PrimeNG directamente desde node_modules */
/* Directamente desde node_modules sin ~ */
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-blue-bg {
  background-color: #102F41;
}

body {
  font-family: "Hanken Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --sb-track-color: #102f41;
  --sb-thumb-color: #f2f9fd;
  --sb-size: 16px;
  --sb-thumb-padding: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
  border: var(--sb-thumb-padding) solid transparent;
  background-clip: content-box;
}

.carousel-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.carousel-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-thumb-color);
}

.carousel-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-track-color);
  border-radius: 20px;
}

/* Fallback para navegadores que no soportan ::-webkit-scrollbar */
@supports not selector(::-webkit-scrollbar) {
  body, .carousel-scrollbar {
    scrollbar-color: var(--sb-track-color) var(--sb-thumb-color) ;
    scrollbar-width: thin;
  }
}


